body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    height: 100%;
    
}
.wrapper{
    width: 1220px;
    margin: 0 auto;
    

}
nav .menu-items{
    display: flex;
    justify-content: flex-end;
    padding-right: 70px;
    padding-top: 50px;
}
nav .menu{
    padding: 0 25px;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.logotype{
    display: flex;
    margin-right: 30%;
}
.logo-name{
    display: flex;
    align-self: center;
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
}
main{
    margin: 0 150px;
}
.title-big{
    margin: 0;
    order: 2;
}
.text-big{
    order: 1;
    margin-top: 80px;
    max-width: 700px;
}
.main-image{
    display: flex;
    justify-content: flex-end;
    margin-bottom: -120px;
}
.image{
    max-width: 320px;
    height: auto;
}
.btn{margin-top: 50px;}
.button-cousult{
    top:10px;
    border-radius: 15px;
    background-color: #458FF6;
    padding: 15px;
    color: beige;
}

.Services{
    margin-top: 150px;
}
.Services .title-big{
    text-align: center;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card-item{
    display: flex;
    justify-content: center;
}
.card-items{
    margin: 10px;
    width: 350px;
    height: auto;
    border-radius: 10px;
    background: ghostwhite;
}
.new{
    color: #458FF6;
    background: white;
    border: 1px solid #458FF6;
}

.two{
    display: flex;
    justify-content: flex-start;
    margin-bottom: -120px;
}
.left{
    margin-left: 900px;
}
footer{
    flex: 0 0 auto;
    width: 100%;
    background: #458FF6;
}
.footer-title{
    margin-top: 50px;
    padding: 20px;
    color: white;
}

.footer-text{
    display: flex;
    color:white;
    width:350px;
}
.url-items{
    color: white;
    display: flex;
    justify-content: space-evenly;
}
.url-item{
    padding-top: 10px;
}